<!doctype html>
<html lang="en">
<head>
    <!--Head Starts-->
    {% include "partials/head.html" %}
    <!--Head Ends-->
    {% block head %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100 bg-light bg-gradient">
<div class="container p-3 bg-white" id="container" style="display:none;">
    <header>
        <!--Header Starts-->
        {% include "partials/header.html" %}
        <!--Header Ends-->
    </header>
    <main>
        <div>
            {% with errors = get_flashed_messages() %}
            {% if errors %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <ul class="list-group list-group-flush">
                    {%- for msg in errors %}
                    <li class="list-group-item">{{ msg|safe }}</li>
                    {% endfor -%}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <div>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <ul class="list-group list-group-flush">
                    {%- for msg in errors %}
                    <li class="list-group-item">{{ msg|safe }}</li>
                    {% endfor -%}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <div>
            {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
            {% if warnings %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Warning!</h4>
                <ul class="list-group list-group-flush">
                    {%- for msg in warnings %}
                    <li class="list-group-item">{{ msg|safe }}</li>
                    {% endfor -%}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <div>
            {% with success_msg = get_flashed_messages(category_filter=["success"]) %}
            {% if success_msg %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Success!</h4>
                <ul class="list-group list-group-flush">
                    {%- for msg in success_msg %}
                    <li class="list-group-item">{{ msg|safe }}</li>
                    {% endfor -%}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </div>

        {% block content %}
        {% endblock %}
    </main>
</div>
<!--Footer Starts-->
{% include "partials/footer.html" %}
<!--Footer Ends-->
<!--Scripts Starts-->
{% include "partials/scripts.html" %}
<!--Scripts Ends-->
<script>
    {% block script %}
    {% endblock %}
</script>

</body>
</html>