{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
<!--<div class="p-4 mb-4 bg-light rounded-3 text-center">-->
<!--    <div class="container-fluid py-1">-->
<!--        <h3 class="display-6 fw-bold">-->
<!--            <i class="bi bi-collection"></i>-->
<!--            Antibody Conjugate Panel (ACP)-->
<!--        </h3>-->
<!--        <div class="row justify-content-md-center mt-4">-->
<!--            <p class="col-md-12 fs-4">-->
<!--                <b>ACP</b> helps researchers to refine antibody-conjugate-->
<!--                panels by reducing search space-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% if panels %}
{% for panel in panels %}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header text-bg-dark">
                <h5 class="card-title mb-0">
                    {{ panel.title }}
                </h5>
                <small>
                    <i class="bi bi-person"> </i>
                    {{ panel.created_by }} ({{panel.contact_email }})
                </small>
            </div>
            <div class="card-body">
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr class="table-secondary">
                        {% for key in panel.records[0].keys() %}
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in panel.records %}
                    <tr>
                        {% for value in item.values() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- .card -->
        {% endfor %}
        {% endif %}
    </div>

</div>


{% endblock %}
{% block script %}
{% endblock %}