<footer class="py-3 bg-dark mt-auto text-white border border-top border-2 border-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="mb-1">Developed by <a href="https://arshovon.com/" class="text-white" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Developer profile">Shovon</a>
                    <br>ACPP &copy; 2023
                </p>
            </div>
            <div class="col-12 col-lg-6 text-lg-end">
                <a class="me-3 py-2 text-white text-decoration-none" href="" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Read terms">
                    <i class="bi-info-square"></i> Terms
                </a>
                <a class="me-3 py-2 text-white text-decoration-none" href="" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Learn more about us">
                    <i class="bi-people"></i> About
                </a>
                <a class="me-3 py-2 text-white text-decoration-none" target="_blank"
                   href="https://github.com/arsho/predictor" data-bs-toggle="tooltip" data-bs-placement="top"
                   title="Open code repository">
                    <i class="bi-github"></i> Code
                </a>

                <a id="back-to-top" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Go to top"
                   class="btn btn-light btn-lg back-to-top" role="button">
                    <i class="bi bi-arrow-up-square-fill"></i>
                </a>
            </div>
        </div>
    </div>
</footer>