{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-3">
        <h3 class="display-6 fw-bold">
            <i class="bi bi-collection"></i>
            Antibody Conjugate Panel Predictor (ACPP)
        </h3>
        <div class="row justify-content-md-center mt-4">
            <p class="col-md-12 fs-4">
                <b>ACPP</b> helps researchers to refine antibody-conjugate panels by reducing search space
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">
                Antibody selection
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('index') }}">
                    <input type="text" name="antibody" class="form-control mb-3" value="CD103,CD11c,CD138">
                    <div class="d-grid gap-2">
                        <input class="btn btn-dark btn-block" type="submit" name="primary_form" value="Load panels"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- .card -->
    </div>
</div>

<div>
    {% if panels %}
    {% from 'macros/panel_macro.html' import panel_macro %}
    {{ panel_macro(panels,old_patterns) }}
    {% endif %}
</div>


{% endblock %}
{% block script %}
{% endblock %}